<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>PPM - Project Product Management</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <a [routerLink]="['home']" class="btn btn-primary" routerLinkActive="active">Home</a> 
        <a [routerLink]="['products']" class="btn btn-primary" routerLinkActive="active">Product List</a> 
        <a [routerLink]="['products', 'new']" class="btn btn-primary" routerLinkActive="active">Product Creation</a>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
